header * {
    padding: 1px;
    border: 1px solid blue;
    margin: 1px;
}



h1 {
    color: rgb(245, 242, 242);

}

i {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* estilos al header */


.cont-titulo-redes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(173, 54, 54);
}

.logo {
    width: 150px;
    background-color: rgb(75, 74, 74)
}

.imagen {
    width: 100%;
    background-color: rgb(75, 74, 74);

}

.redes {
    width: 25%;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: row;

}

.pag {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(18, 228, 200);
}

.icono {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-content: center;
    
    
}
/* estilos a h2 */
.intro{
    font-size: 18px;
   text-align: center;
   display: inline-block;
/*   background-color: rgb(8, 190, 47); */
    
}
.intro2{
    
 
}
.seccion1{
   
   
}

.clases{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    background-color: black;
    
}
.representacion{
    width:350px ;
     
}
.text{
    color: aliceblue;
|   font-family:Arial, sans serif;
}
.pie{
    background-color: rgb(132, 135, 138);
}
.sec-clases{
    display: flex;
    justify-content: space-around;
    background-color: brown;
}
